	<head>
<style type="text/css">

  body {background-color: #F5DCF9; }

h1{color:rgb(128, 128, 0);font-weight: bold;font-style:italic;}
h2{color:rgb(0, 255, 255);text-decoration: underline;}
h3{color:black;text-decoration: underline;}
	

  body {background-color: #E5F0A8; } 
 